<!-- BEGIN_INCLUDE(mqtt:publish) -->
<mqtt:publish topicName="test/publish" message="my message as a string" qos="1" />
<!-- END_INCLUDE(mqtt:publish) -->
<!-- BEGIN_INCLUDE(mqtt:subscribe) -->
<mqtt:subscribe topicName="test/subscribe" qos="0" />
<!-- END_INCLUDE(mqtt:subscribe) -->